<%= render "layouts/nav" %>

<h1>Recording Logs</h1>
<div>
<table class='table'>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |record| %>
      <tr class='clickable-row' data-link="<%= edit_recording_path(record)%>"> 
        <td><%= record.title %></td>
        <td><%= record.created_at.to_time.in_time_zone('Singapore').strftime('%e %B %Y %l:%M %p') %></td>
        <td><%=button_to 'Edit', edit_recording_path(record), method:'get', class:"btn btn-light"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= button_to 'Home', home_path , method: "get",class:"btn btn-primary btn-lg btn-block margin-top-md width-max"  %>
